<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>My first Webapplication</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="styles.css" />
</head>

<body>
	<header>
		<h1>My first Web-Application</h1>
	</header>
	<nav>
		<h1>Navigation</h1>
	</nav>

	<article>
		<section>
			<aside>Section-Aside</aside>
			<p th:text="'Hello, ' + ${name} + '!'" />
			<p>p-test</p>
			<p id="myId">id-test</p>
			<p class="myClass">class-test</p>

			<form action="/greetingSubmit" method="post">
				<p>Please enter your name:</p>
				<input type="text" name="newName" /> <input type="submit"
					value="send" name="sub" />
			</form>

		</section>
		<aside>Article Aside</aside>
	</article>


	<footer>
		<h1>My Footer</h1>
	</footer>
</body>

</html>